body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container{
    flex: 1;
}

/* Navbar */
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    height: 1.5rem;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* footer */
.f-info-link a {
    text-decoration: none;
}
.f-info-link a:hover {
    text-decoration: underline;
}

.f-info-link,.f-info-socials,.f-info-brand {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-link a{
    margin-right: 1rem;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}


.f-info {
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
    background-color: #ebebeb;
}

/* card */

.listing-card {
    border: none !important;
    margin-top: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0% !important;
}

.listing_link{
    text-decoration: none;
}

.card-text p{
    font-weight: 400 !important;
}

/* card-Effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* new page */

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* edit page */

.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* show page */
.show-img{
    height: 45vh ;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

/* Map */

#map{
    height: 400px;
    width: 80vh;
}

